<launch>
    
    <arg name="camera_name" default="cam1" />

    <!--  
        Object pose estimation
    -->
    <node name="hupster_object_pose_estimation_node" pkg="hupster_detection" 
          type="hupster_object_pose_estimation_node" respawn="true" >
        <remap from="/camera/aligned_depth_to_color/image_raw" to="/$(arg camera_name)/aligned_depth_to_color/image_raw" />
        <remap from="/camera/color/camera_info" to="/$(arg camera_name)/color/camera_info" />
    </node>

    <node name="hupster_object_pose_filter_node" pkg="hupster_detection"
          type="person_follower_node">
        <param name="target" value="person"/>
        <param name="odom_frame" value="odom"/>
        <param name="timeout" value="3.0"/>
        <param name="rate" value="1.0"/>
        <remap from="person_follower/target" to="move_base_simple/goal"/>
    </node>

</launch>