<launch>
    
    <arg name="enabled" default="true" />
    <arg name="camera_name" default="camera_front" />
    <arg name="tracking_target" default="person" />
    <arg name="tracking_timeout" default="2.0" />
    <arg name="min_speed" default="0.1" />
    <arg name="max_speed" default="0.4" />
    <arg name="max_rotation" default="0.4" />
    <arg name="velocity_topic" default="navigation_velocity_smoother/raw_cmd_vel" />
    <arg name="min_distance" default="1.5" />
    <arg name="max_distance" default="3.0" />

    <!--  
        Object pose estimation
    -->
    <node name="pengo_object_pose_estimation_node" pkg="hupster_detection" 
          type="hupster_object_pose_estimation_node" respawn="true" >
        <remap from="/camera/aligned_depth_to_color/image_raw" to="/$(arg camera_name)/aligned_depth_to_color/image_raw" />
        <remap from="/camera/color/camera_info" to="/$(arg camera_name)/color/camera_info" />
    </node>

    <node name="pengo_navigation_node" pkg="hupster_detection"
          type="person_follower_node" respawn="true" output="screen">

        <param name="target" value="$(arg tracking_target)"/>
        <param name="min_distance" value="$(arg min_distance)" />
        <param name="max_distance" value="$(arg max_distance)" />

        <!-- Seconds -->
        <param name="tracking_timeout" value="$(arg tracking_timeout)" />
        <param name="max_speed" value="$(arg max_speed)" />
        <param name="min_speed" value="$(arg min_speed)" />
        <param name="max_rotation" value="$(arg max_rotation)" />
        <param name="enable" value="$(arg enabled)" />
        <param name="base_frame" value="base_link" />
        <remap from="mobile_base/commands/velocity" to="$(arg velocity_topic)" />
        
    </node>

</launch>
