<launch>
  <arg name="serial_no"           default=""/>
  <arg name="usb_port_id"         default=""/>
  <arg name="device_type"         default="t265"/>
  <arg name="json_file_path"      default=""/>
  <arg name="camera"              default="camera"/>
  <arg name="tf_prefix"           default="$(arg camera)"/>

  <arg name="fisheye_width"       default="848"/>
  <arg name="fisheye_height"      default="800"/>
  <arg name="enable_fisheye1"     default="false"/>
  <arg name="enable_fisheye2"     default="false"/>

  <arg name="fisheye_fps"         default="30"/>

  <arg name="gyro_fps"            default="200"/>
  <arg name="accel_fps"           default="62"/>
  <arg name="enable_gyro"         default="true"/>
  <arg name="enable_accel"        default="true"/>
  <arg name="enable_pose"         default="true"/>

  <arg name="enable_sync"           default="false"/>

  <arg name="linear_accel_cov"      default="0.01"/>
  <arg name="initial_reset"         default="false"/>
  <arg name="unite_imu_method"      default=""/>

  <arg name="publish_odom_tf"     default="true"/>

  <group ns="$(arg camera)">

    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <!-- <arg name="odom_frame_id"            value="odom"/> -->
      <!-- <arg name="pose_frame_id"            value="$(arg camera)_link"/> -->
      
      <arg name="tf_prefix"                value="$(arg tf_prefix)"/>
      <arg name="serial_no"                value="$(arg serial_no)"/>
      <arg name="usb_port_id"              value="$(arg usb_port_id)"/>
      <arg name="device_type"              value="$(arg device_type)"/>
      <arg name="json_file_path"           value="$(arg json_file_path)"/>

      <arg name="enable_sync"              value="$(arg enable_sync)"/>

      <arg name="fisheye_width"            value="$(arg fisheye_width)"/>
      <arg name="fisheye_height"           value="$(arg fisheye_height)"/>
      <arg name="enable_fisheye1"          value="$(arg enable_fisheye1)"/>
      <arg name="enable_fisheye2"          value="$(arg enable_fisheye2)"/>

      <arg name="fisheye_fps"              value="$(arg fisheye_fps)"/>
      <arg name="gyro_fps"                 value="$(arg gyro_fps)"/>
      <arg name="accel_fps"                value="$(arg accel_fps)"/>
      <arg name="enable_gyro"              value="$(arg enable_gyro)"/>
      <arg name="enable_accel"             value="$(arg enable_accel)"/>
      <arg name="enable_pose"              value="$(arg enable_pose)"/>

      <arg name="linear_accel_cov"         value="$(arg linear_accel_cov)"/>
      <arg name="initial_reset"            value="$(arg initial_reset)"/>
      <arg name="unite_imu_method"         value="$(arg unite_imu_method)"/>

      <arg name="publish_odom_tf"          value="$(arg publish_odom_tf)"/>
    </include>
  </group>

  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0" />
  <arg name="roll" default="0" />
  <arg name="pitch" default="0" />
  <arg name="yaw" default="0" />

  <!-- sensor input data -->
  <arg name="odom_in_topic"         default="/$(arg camera)/odom/sample"/>
  <!-- name of the odom topic outputed by the node -->
  <arg name="odom_out_topic"        default="/odom"/>
  <!-- name of the odom tf outputed by the node -->
  <arg name="odom_out_frame"        default="odom"/>
  <!--  -->
  <arg name="base_frame"        default="base_footprint"/>
  <arg name="odom_calc_hz"        default="50"/>
  <!-- sensor offset values are in meters -->
  <arg name="sensor_offset"         default='{"x": $(arg x), "y": $(arg y), "z": $(arg z)}'/>
  <!-- sensor rotation values are in degrees -->
  <arg name="sensor_rotation"       default='{"x": $(arg roll), "y": $(arg pitch), "z": $(arg yaw)}'/>
  <!-- ignore x coordonate - value is CAPS sensitive (True/False) -->
  <arg name="ignore_x"              default='False'/>
  <!-- ignore y coordonate - value is CAPS sensitive (True/False) -->
  <arg name="ignore_y"              default='False'/>
  <!-- ignore z coordonate - value is CAPS sensitive (True/False) -->
  <arg name="ignore_z"              default='True'/>

  <node pkg="sensor_odom_manager" type="sensor_odom_manager_node.py" name="odom_manager" ns="sensor_odom_mngr" 
          output="screen">
      <param name="odom_in_topic"         value="$(arg odom_in_topic)"/>
      <param name="odom_out_topic"        value="$(arg odom_out_topic)"/>
      <param name="odom_out_frame"        value="$(arg odom_out_frame)"/>
      <param name="sensor_offset"         value="$(arg sensor_offset)"/>
      <param name="sensor_rotation"       value="$(arg sensor_rotation)"/>
      <param name="ignore_x"              value="$(arg ignore_x)"/>
      <param name="ignore_y"              value="$(arg ignore_y)"/>
      <param name="ignore_z"              value="$(arg ignore_z)"/>
      <param name="base_frame"              value="$(arg base_frame)"/>
      <param name="odom_calc_hz"              value="$(arg odom_calc_hz)"/>
  </node>

</launch>
